#contenedor {
width: 95%;
height: 620px;
margin: 0px auto;

font-family: 'Raleway', sans-serif;
}
#cabecera {
width: 95%;
height: 100px;
float: left;

margin-left: 2.5%;
margin-top: 4px;
}

.cuadro1 {
width: 80%;
height:100px;
float: left;

}

.cuadro2 {
width: 20%;
height: 100px;
float: left;

}

.logo{
margin-left: 20px;
float: left;
}
.welcome{
margin-left: 300px;
float: left;
border-bottom: 3px solid red;
margin-top:30px;
text-align: center;
color:#585858;
}

.botoncerrar{
margin-top: 20px;
margin-left: 9px;

}
#cuerpo {
clear: both;
width: 95%;
height: 455px;
float: left;
margin-left: 2.5%;
background-color: aqua;

}

#contenidofoto {
float: left;
width: 30%;
height: 340px;
}

#contenidodatos{
float: left;
width: 70%;
height: 440px;

}

#pie {
clear: both;
width: 89%;
height: 100px;
position: fixed;
bottom: 0;
margin-left: 2.5%;
background-color: brown;
}

#fotousuario {
margin-top: 20px;
margin-left: 30px;
width: 240px;
height: 320px;

}